<div class="main-container">
  <div class="navbar-container" [ngStyle]="navbarStyle()">
    <div class="navbar-header-container">
      <h2 class="navbar-header">Navigation</h2>
    </div>
    <ul class="top-level-navbar">
      <li class="top-level-item">
        <div class="top-level-content" (click)="setActiveSubMenu(0)">
          <i class="fa fa-cogs"></i><p class="content-description">generators</p><i class="fa fa-caret-right"></i>
        </div>
        <ul class="second-level-navbar" [ngStyle]="subMenuStyle(0)">
          <li class="second-level-item">
            <div class="second-level-content" (click)="setComponent('object')">
              <p class="content-description">Object</p>
            </div>
          </li>
          <li class="second-level-item">
            <div class="second-level-content">
              <p class="content-description">Array</p>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
