<div class="main-container">
  <h1>Object Data Generator</h1>
  <div class="object-builder-container">
    <p class="left-bracer">{{ '{' }}</p>
    <div class="object-key-row">
      <input type="text" class="object-key" placeholder="Name">
      <p class="object-seperator">:</p>
      <input type="text" class="object-value" placeholder="Stephen">
    </div>
    <div class="object-key-row">
      <input type="text" class="object-key" placeholder="Name">
      <p class="object-seperator">:</p>
      <input type="text" class="object-value" placeholder="Stephen">
    </div>
    <div class="object-key-row">
      <input type="text" class="object-key" placeholder="Name">
      <p class="object-seperator">:</p>
      <input type="text" class="object-value" placeholder="Stephen">
    </div>
    <div class="object-key-row">
      <input type="text" class="object-key" placeholder="Name">
      <p class="object-seperator">:</p>
      <input type="text" class="object-value" placeholder="Stephen">
    </div>
    <div class="object-key-row">
      <input type="text" class="object-key" placeholder="Name">
      <p class="object-seperator">:</p>
      <input type="text" class="object-value" placeholder="Stephen">
    </div>
    <p class="object-value">{{ '}' }}</p>
  </div>
</div>
